<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id = "c" class="com.masai.Circle"></bean>
  
    <bean id = "t" class="com.masai.Triangle"></bean>
  
  
  <bean id="sl" class="com.masai.ServiceLayer">
  	
  	<property name="s" ref="c"></property>
  
  </bean>
  
  <bean id="pl" class="com.masai.PresentationLayer">
  
  	<property name="slayer" ref="sl"></property>
  </bean>
  
  
  
</beans>